<% layout(layoutPath) -%>
<%
	if (!details)
		var details = {};
%>	
	
	<!-- +++++ Contact Section +++++ -->
	<div class="container pt">
		<div class="row mt">

			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin: 0 auto;text-align:center;">
				<img id="logo-image" src="img/useme_logo-570.png" alt="UseMe.tv">
			</div>
			
			<div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 centered">
				<h3>Thank you</h3>
				<hr>
				<p>Your message has been sent, and we'll get back to you as soon as possible.</p>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
			</div>
		</div>

	</div><!-- /container -->
