<% layout(layoutPath) -%>


<!-- HOME PAGE -->
<%
	if (user) {
	} else {
		user = {};
	}
%>


<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron head">
  <div class="container">
    <div class="col-md-8 home-banner">
          <h1 style="text-align: center;">Big Message<br/>Goes Here<br/></h1>
      <p>And a catchy phrase goes here, to entice the reader to read on
	  	and then hopefully they'll press the Sign Up button.</p>
    </div>
    <div class="col-md-4">
		<h4>Sign Up Today</h4>
      <h1> <!-- adds up margin to center elements vertically -->
  
  			<form action="/register" method="post" class="" role="form">
          <div class="form-group input-group-md">
              <input type="email" class="form-control" placeholder="Your email" name="email" value="<%= user.email || "" %>"/>
          </div>
          <div class="form-group input-group-md">
              <input type="password" class="form-control" placeholder="Create a password" name="password"/>
			  <!--
			  <p class="text-muted">Use at least one lowercase letter, one numeral, and seven characters.</p>
			  -->	
          </div>
          <div class="form-group input-group-md">
              <button class="btn btn-lg btn-success btn-block">Try Now for Free</button>
          </div>
  			</form>
	
      </h1>
    </div>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="acenter">
    <h1>Interesting Topic Heading.</h1>
    <p class="lead">
      Sub heading says a bit more about this.
    </p>
  </div>
  <br>
  <div class="features">
    <div class="row">
      <div class="col-md-6 acenter">
        <a href="/example/publicPage"><img src="/img/generic-icon.png" class="img-responsive"></a>
        <h4>Cool Thing #1</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
        </p>
        <p>
          <a class="text-default" href="/example/publicPage">Tell me more &raquo;</a>
        </p>
      </div>
      <div class="col-md-6 acenter">
        <img src="/img/generic-icon.png" class="img-responsive">
        <h4>Cool Thing #2</h4>
        <p>
          Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. 
        </p>
        <p>
          <a class="text-default" href="/example/publicPage">Tell me more &raquo;</a>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 acenter">
        <a href="/example/publicPage"><img src="/img/generic-icon.png" class="img-responsive"></a>
        <h4>Cool Thing #3</h4>
        <p>
          Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. 
        </p>
        <p>
          <a class="text-default" href="/example/publicPage">Tell me more &raquo;</a>
        </p>
      </div>
      <div class="col-md-6 acenter">
        <a href="/example/publicPage"><img src="/img/generic-icon.png" class="img-responsive"></a>
        <h4>Cool Thing #4</h4>
        <p>
		  Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna.
        </p>
		<p>
          Experiment and measure success, then optimize your displays and online presence for maximum customer conversion.
		</p>
        <p>
          <a class="text-default" href="/example/privatePage">Sign or register to learn more &raquo;</a>
        </p>
      </div>
    </div>
  </div>
</div> <!-- /container -->

<br>

<div class="color-swatches">
  <div class="well"> <!-- color-swatch gray-lighter | bg-info -->
    <!-- <hr> -->
    <div class="container">

      <div class="acenter">
        <h1>Here is a table of stuff you should know</h1>
		<!--
		-->
        <p class="lead">
          And here is introductory text about the content of the table.
        </p>
      </div>
      <br>
      <div class="table-responsive need-to-know panel panel-default">
        <table class="table bg-white">
          <tr>
            <th class="valign-m acenter">
              Item #1
            </th>
            <td class="col_B">
              This is the first item in the list and is probably the most interesting.
            </td>
          </tr>
          <tr>
            <th rowspan="4" class="valign-m acenter">
              Item #2
            </th>
          </tr>
          <tr>
            <td class="col_B">
				Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
            </td>
          </tr>
          <tr>
            <td class="col_B">
				Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
            </td>
          </tr>
          <tr>
            <td class="col_B">
				Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
            </td>
          </tr>
          <tr>
            <th rowspan="4" class="valign-m acenter">
              Final item.
            </th>
          </tr>
          <tr>
            <td class="col_B">
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
            </td>
          </tr>
          <tr>
            <td class="col_B">
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
            </td>
          </tr>
          <tr>
            <td class="col_B">
				Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.              
            </td>
          </tr>
        </table>
      </div>

    </div> <!-- /container -->
    <br>
    <!-- <hr> -->
  </div>
</div>

<br>

<div class="container">

  <div class="acenter">
    <h1>Frequently Asked Questions</h1>
	<!--
    <p class="lead">
      Introduction to the Questions.
    </p>
	-->
  </div>
  <div class="clearfix panel panel-default">
    <div class="col-md-6">
      <div>
        <h4>Can ACME shoes walk on the ceiling?</h4>
        <p>
           Sure can. And a lot more as well.
        </p>
      </div>
      <div>
        <h4>What does ToolTwist do better than other Development Tools?</h4>
        <p>
           Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
        </p>
      </div>
      <div>
        <h4>Can you help me go global?</h4>
        <p>
           Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
        </p>
      </div>
      <div>
        <h4>Can you help with white-labelling websites and retail displays?</h4>
        <p>
           Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
        </p>
      </div>
    </div>
	
	<!-- Next FAQ column -->
    <div class="col-md-6">
      <div>
        <h4>I already have retail displays. Can I convert them to UseMe.tv Displays?</h4>
        <p>
           Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
        </p>
      </div>
      <div>
        <h4>Can I use the ToolTwist online store without the rest of ToolTwist?</h4>
        <p>
           Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
        </p>
      </div>
      <div>
        <h4>I only need a simple online store. Can you help me?</h4>
        <p>
           Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
        </p>
      </div>
    </div>
  </div>
    
  <div class="acenter">
    <div class="marketing-header">
      
      <br>

      <div class="">
        <div class="well">
          <div class="clearfix">
            <h1>Final Section on the Page</h1>
            <p class="lead">
               A few words about this final topic.
            </p>
            <br>
          </div>
          <div class="clearfix"></div>
          <div class="col-md-4">
            <a href="/example/publicPage"><img src="/img/generic-icon.png" class="img-responsive"></a>
            <h4>Thing #1</h4>
            <p>
               Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
            </p>
	        <p>
	          <a class="text-default" href="/example/publicPage">Tell me more &raquo;</a>
	        </p>
          </div>
          <div class="col-md-4">
            <a href="/example/publicPage"><img src="/img/generic-icon.png" class="img-responsive"></a>
            <h4>Thing #2</h4>
            <p>
               Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
            </p>
	        <p>
	          <a class="text-default" href="/example/publicPage">Tell me more &raquo;</a>
	        </p>
          </div>
          <div class="col-md-4">
            <a href="/example/publicPage"><img src="/img/generic-icon.png" class="img-responsive"></a>
            <h4>Thing #3</h4>
            <p>
               Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
            </p>
	        <p>
	          <a class="text-default" href="/example/publicPage">Tell me more &raquo;</a>
	        </p>
          </div>
          <div class="clearfix"></div>
        </div>
        <br>
        <br>
      </div>
    </div> <!-- faq -->
  </div>

</div> <!-- /container -->

<br>

<div class="marketing-section jumbotron acenter footer">
  <div class="container">
    <h2>One Final Big Message</h2>
    <p class="lead">
      This is one final attempt to get the customer to signup.
    </p>
    <p>
      <a class="btn btn-success btn-lg" role="button" href="/example/privatePage">Learn more about this feature</a>
    </p>
  </div>
</div>


