<section class="footer">
  <div class="container">
    <footer>
      <div class="col-md-5 links-1">
        &copy; 2014 ToolTwist &nbsp; <a href="#">Terms</a> &nbsp; <a href="#">Privacy</a> &nbsp; <a href="#">Security</a> &nbsp; <a href="#">Contact</a>
      </div>
      <div class="col-md-2 logo-block">
        <a href="/" target="_blank">
          <img src="/img/ttlogo-small.png">
        </a>
      </div>
      <div class="col-md-5 links-2">
        <a href="#">Status</a> &nbsp; <a href="#">API</a> &nbsp; <a href="#">Training</a> &nbsp; <a href="#">Shop</a> &nbsp; <a href="#">Blog</a> &nbsp; <a href="#">About</a>
      </div>
    </footer>
  </div>
</section>