<% layout(layoutPath) -%>

<%
	if (user){} else user = {};
%>

<div class="container pages">
  <h2>Private Page</h2>
  <form action="/account" method="post" role="form">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Account Details</h3>
      </div>
<%
	var firstName = ''
	if (user && user.firstName)
		firstName = user.firstName;

	var lastName = ''
	if (user && user.lastName)
		lastName = user.lastName;
%>
      <div class="panel-body">
	      <div class="col-md-7">
			  <p>This page can only be seen while the user is Signed In.</p>
		  </div>
        <div class="col-md-7">
          <div class="form-group">
            <label>First Name:</label>
            <input type="text" class="form-control" name="firstName" value="<%= firstName %>"/>
          </div>
        </div>
        <div class="col-md-7">
          <div class="form-group">
            <label>Last Name:</label>
            <input type="text" class="form-control" name="lastName" value="<%= lastName %>"/>
          </div>
        </div>
        <div class="col-md-7">
          <div class="form-group">
            <label>Email:</label>
            <input type="text" class="form-control" name="username" value="<%= user.username %>" readonly="true"/>
          </div>
        </div>
      </div>
    </div>	

  </form>
</div>
