<% layout(layoutPath) -%>

<h1>Public Page</h1>


<div class="container pages">
	<h2>About Us</h2>
	<h4>This is who we are...</h4>
	<p>
		<img src="/img/casestudies/skysoftware.png" class="thumbnail myrp col-md-4 img-responsive">
		(<a href="http://bluesky.skysoftware.com/">http://bluesky.skysoftware.com/</a>)
	</p>


</div>





